{% extends 'base.html' %}
{% block title %}Fleet Management{% endblock %}

{% block content %}
<h2>Fleet Management</h2>
<a href="{% url 'logistics:add_vehicle' %}" class="btn btn-primary">Add New Vehicle</a>

<table class="table mt-3">
    <tr>
        <th>Vehicle</th>
        <th>License Plate</th>
        <th>Capacity</th>
    </tr>
    {% for vehicle in fleet %}
    <tr>
        <td>{{ vehicle.vehicle_name }}</td>
        <td>{{ vehicle.license_plate }}</td>
        <td>{{ vehicle.capacity }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
