{% extends 'base.html' %}
{% block title %}Manage Warehouses{% endblock %}

{% block content %}
<h2>Warehouses</h2>
<a href="{% url 'add_warehouse' %}" class="btn btn-primary">Add New Warehouse</a>

<table class="table mt-3">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Capacity</th>
        <th>Actions</th>
    </tr>
    {% for warehouse in warehouses %}
    <tr>
        <td>{{ warehouse.name }}</td>
        <td>{{ warehouse.location }}</td>
        <td>{{ warehouse.capacity }}</td>
        <td>
            <a href="{% url 'logistics:edit_warehouse' warehouse.pk %}" class="btn btn-warning">Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}


